.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 50px;
}

.column {
  padding: 20px;
}

.title {
  font-size: 2.7rem;
  font-weight: bold;
  padding-left: 20px;
}

@media (max-width: 640px) {
  .column {
    padding: 0;
    padding-right: 10px;
  }

  .wrapper {
    grid-gap: 0;
    margin-top: 100px;
  }
}
